<div class="home__container">
  <app-card gameCover="assets/bt-1.jpg" gameLabel="CLASSIC" gamePrice="99,90" gameType="CD PS3"></app-card>
  <app-card gameCover="assets/bt-4.jpg"></app-card>
  <app-card gameCover="assets/bt-5.jpg" gamePrice="399,90"></app-card>

  <app-card gameCover="assets/ac-cover.jpg" gamePrice="199,90"></app-card>
  <app-card gameCover="assets/bt-bad-company-2.jpg" gamePrice="399,90"></app-card>
  <app-card gameCover="assets/bt-hardline.jpg" gamePrice="129,90"></app-card>

</div>
